@{
    ViewBag.Title = String.Format("Event {0}", ViewData["EventID"]);
    var recallNumberToolTip = "The recall # for the event";
    var reasonToolTip = "The reason for the recall";
    var statusToolTip = "The status of the recall. It may be ongoing or complete";
    var distributionPlanToolTip = "The locations that the recall affects";
    var productQuantityToolTip = "The number of products being recalled";
    var recallInitiationDateToolTip = "The date the recall began";
    var productDescriptionToolTip = "The description of the product being recalled";
    var mandatedToolTip = "How the recall was mandated";
    var classificationToolTip = "The classification of the recall. It may be Class I, Class II or Class III";
    var codeInfoToolTip = "Identifying factors of the affected product";
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="form-horizontal">
	<div class="col-md-12">
		<div class="form-group">
			<label class="control-label col-md-3">Recall # <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="auto" title="@recallNumberToolTip"></span></label>
			<div class="col-md-9">
				<p class="form-control-static">F-0623-2013</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">Reason <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="auto" title="@reasonToolTip"></span></label>
			<div class="col-md-9">
				<p class="form-control-static">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a congue enim. 
					Aenean sit amet ligula sapien. Cras viverra ipsum a nisi dignissim rutrum. Cras pellentesque massa neque. 
					Proin commodo nisl nec dignissim tincidunt. Etiam finibus urna elit, ut porttitor lorem rutrum id. Etiam egestas, 
					enim viverra consequat lobortis, eros ipsum tincidunt leo, ac semper dolor libero eget urna. Ut malesuada 
					mollis consequat. Etiam fermentum massa vitae vestibulum bibendum. Aliquam erat volutpat.
				</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">Status <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="auto" title="@statusToolTip"></span></label>
			<div class="col-md-9">
				<p class="form-control-static">Ongoing</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">Distribution Plan <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="auto" title="@distributionPlanToolTip"></span></label>
			<div class="col-md-9">
				<p class="form-control-static">MI, OH</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">Product Quantity <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="auto" title="@productQuantityToolTip"></span></label>
			<div class="col-md-9">
				<p class="form-control-static">520</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">Recall Initiation Date <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="auto" title="@recallInitiationDateToolTip"></span></label>
			<div class="col-md-9">
				<p class="form-control-static">09/10/2012</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">Product Description <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="auto" title="@productDescriptionToolTip"></span></label>
			<div class="col-md-9">
				<p class="form-control-static">#011 Zucchini Stir Fry - 0.75 Pounds</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">Mandated <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="auto" title="@mandatedToolTip"></span></label>
			<div class="col-md-9">
				<p class="form-control-static">Voluntary: Firm Initiated</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">Classification <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="auto" title="@classificationToolTip"></span></label>
			<div class="col-md-9">
				<p class="form-control-static">Class II</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-3">Code Info <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="auto" title="@codeInfoToolTip"></span></label>
			<div class="col-md-9">
				<p class="form-control-static">All with sell by dates on or before September 15 with UPC 0-11213-90380</p>
			</div>
		</div>
		<div class="form-group">
			@Html.ActionLink("Back to List", "ReportList", null, new {@class="btn btn-default"})
		</div>
	</div>
</div>

<script>
    $(document).ready(function () {
        $('#reportsNav').parent().addClass('active');
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>