@model PagedList.IPagedList<dsoft.ads.web.Models.EnforcementReport>
@using PagedList.Mvc;

<div class="row">
	<div class="col-md-3">
		<h2>Report List</h2>
		<hr/>
	</div>
	<div class="col-md-9">
	  <h2>Your Report Title</h2>
	  <hr/>
	</div>
</div>
<div>@ViewData["ErrorMsg"]</div>
@using (Html.BeginForm("ReportList", "Home", FormMethod.Post, new { @id = "ReportListForm" }))
{
	<div class="row">
		@Html.Partial("~/Views/Shared/_FilterList.cshtml")
	  	<div class="col-md-9">
	    <p>
	      Some helpful text here.
	    </p>
	    <table class="table table-hover">
	      <thead>
	        <tr>
	            <th>
	                @Html.ActionLink(Html.DisplayNameFor(model => model.First().event_id).ToHtmlString(), "ReportList", new { sortOrder = ViewBag.EnfRepEventIdSortParm })
	            </th>
	            <th>
	                @Html.ActionLink(Html.DisplayNameFor(model => model.First().recall_number).ToHtmlString(), "ReportList", new { sortOrder = ViewBag.EnfRepRecallNumSortParm })
	            </th>
	            <th>
	                @Html.ActionLink(Html.DisplayNameFor(model => model.First().reason_for_recall).ToHtmlString(), "ReportList", new { sortOrder = ViewBag.EnfRepReasonSortParm })
	            </th>
	            <th style="min-width:90px;">
	                @Html.ActionLink(Html.DisplayNameFor(model => model.First().status).ToHtmlString(), "ReportList", new { sortOrder = ViewBag.EnfRepStatusSortParm })
	            </th>
	        </tr>
	      </thead>
	      <tbody>
		    @foreach (var item in Model) {
		        <tr>
		            <td>
		                @Html.ActionLink(item.event_id.ToString(), "ReportDetails", new {@eventid = item.event_id})
		            </td>
		            <td>
		                @Html.DisplayFor(modelItem => item.recall_number)
		            </td>
		            <td>
		                @Html.DisplayFor(modelItem => item.reason_for_recall)
		            </td>
		            <td>
		                @Html.DisplayFor(modelItem => item.status)
		            </td>
		        </tr>
		    }
	      </tbody>
	    </table>

	    <br />
	    <div>
	        @ViewBag.PubCount Exception Reports, 

	        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
	    
	        @Html.PagedListPager(Model, page => Url.Action("ReportList", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
	    
	        Display 
	        @Html.DropDownList("PageSize", (List<SelectListItem>)ViewBag.PageSizeOptions, new { @id = "PageSizeId", onchange = "PageSizeChange()" })
	        per page
	        <br />
	    </div>
	  </div>
	</div>
}

<script>
    $(document).ready(function () {
        $('#reportsNav').parent().addClass('active');
    });

    function PageSizeChange() {
        $('#ReportListForm').submit();
    }
</script>