@model dsoft.ads.web.ViewModels.ReportListViewModel
@using PagedList.Mvc;
@using PagedList;

<div class="row">
	<div class="col-md-3">
		<h2>Report List</h2>
		<hr/>
	</div>
	<div class="col-md-9">
	  <h2>Your Report Title</h2>
	  <hr/>
	</div>
</div>
<div>Model.ErrorMsg</div>
@using (Html.BeginForm("ReportList", "Home", FormMethod.Post, new { @id = "ReportListForm" }))
{
	<div class="row">
		@Html.Partial("~/Views/Shared/_FilterList.cshtml")
	  	<div class="col-md-9">
	    <p>
	      Some helpful text here.
	    </p>
	    <table class="table table-hover">
	      <thead>
	        <tr>
	            <th>
	                @Html.ActionLink(Html.DisplayNameFor(model => model.Reports.First().event_id).ToHtmlString(), "ReportList", new { sortOrder = Model.EventIdSortParm })
	            </th>
	            <th>
	                @Html.ActionLink(Html.DisplayNameFor(model => model.Reports.First().recall_number).ToHtmlString(), "ReportList", new { sortOrder = Model.RecallNumSortParm })
	            </th>
	            <th>
	                @Html.ActionLink(Html.DisplayNameFor(model => model.Reports.First().reason_for_recall).ToHtmlString(), "ReportList", new { sortOrder = Model.ReasonSortParm })
	            </th>
	            <th>
	                @Html.ActionLink(Html.DisplayNameFor(model => model.Reports.First().status).ToHtmlString(), "ReportList", new { sortOrder = Model.StatusSortParm })
	            </th>
	        </tr>
	      </thead>
	      <tbody>
		    @foreach (var item in Model.Reports) {
		        <tr>
		            <td>
		                @Html.ActionLink(item.event_id.ToString(), "ReportDetails", new {@id = item.id})
		            </td>
		            <td>
		                @Html.DisplayFor(modelItem => item.recall_number)
		            </td>
		            <td>
		                @Html.DisplayFor(modelItem => item.reason_for_recall)
		            </td>
		            <td>
		                @Html.DisplayFor(modelItem => item.status)
		            </td>
		        </tr>
		    }
	      </tbody>
	    </table>

	    <br />
	    <div>
	        Model.Count Exception Reports, 

	        Page @(Model.Reports.PageCount < Model.Reports.PageNumber ? 0 : Model.Reports.PageNumber) of @Model.Reports.PageCount
	    
	        @Html.PagedListPager(Model.Reports, page => Url.Action("ReportList", new { page, sortOrder = Model.CurrentSort }))
	    
	        Display 
	        @Html.DropDownList("PageSize", (List<SelectListItem>)Model.PageSizeOptions, new { @id = "PageSizeId", onchange = "PageSizeChange()" })
	        per page
	        <br />
	    </div>
	  </div>
	</div>
}

<script>
    $(document).ready(function () {
        $('#reportsNav').parent().addClass('active');
    });

    function PageSizeChange() {
        $('#ReportListForm').submit();
    }
</script>